/* Estilo para el botón de Pagar */
.btn-form .button-submit {
  padding: 10px 20px;
  font-size: 16px;
  padding: 8px 16px;
  margin: 15px auto;
  display: block;
  background-color: transparent;
  border: none;
  border-radius: 999px;
  background-color: black;
  color: white;
  border: none;
  transition: background-color 0.3s, color 0.3s;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  margin-top: 20px;
}
.btn-form .button-submit:hover,
.btn-form .button-submit:active,
.btn-form .button-submit:focus {
  background-color: rgb(85, 85, 85);
  color: black;
  transition: all 0.4s ease-in-out;
  border: none;
  outline: none;
  box-shadow: none;
  text-decoration: none;
}
form {
  background-color: transparent;
}
.main-content {
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}